[submodule "src/infrastructure/base"]
	path = src/infrastructure/base
	url = https://github.com/Leitee/Codeit.Enterprise.Base.git
	branch = develop
	ignore = dirty

[submodule "src/infrastructure/identity"]
	path = src/infrastructure/identity
	url = https://github.com/Leitee/Codeit.Infrastructure.Identity.git
	branch = develop
	ignore = dirty

[submodule "src/microservices/notifications"]
	path = src/microservices/notifications
	url = https://github.com/Leitee/SchoolMngr.Services.Notifications.git
	branch = develop
	ignore = dirty

[submodule "src/microservices/admin"]
	path = src/microservices/admin
	url = https://github.com/Leitee/SchoolMngr.Services.Backoffice.git	
	branch = develop
	ignore = dirty

[submodule "src/microservices/academe"]
	path = src/microservices/academe
	url = https://github.com/Leitee/SchoolMngr.Services.Academe.git
	branch = develop
	ignore = dirty
